<div class="container">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand text-uppercase fw-bold" href="#">rentcars</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"routerLink="/header">Become a renter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/rental">Rental deals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/works">How it work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/chooseUs">Why choose us</a>
          </li>
        </ul>
        <div class="d-flex" role="search">
          <button class="btn" type="button">sign in</button>
          <button class="btn mx-2 px-4 signup" type="button">sign up</button>
        </div>
      </div>
    </div>
  </nav>
</div>
