<div class="chooseUs">
  <div class="image">
    <img src="../../../assets/img/chooseUs.png" alt="" />
  </div>
  <div class="chooseContent">
    <div class="container">
      <div class="popular text-uppercase">why choose us</div>
      <h1 class="my-5 pe-5">
        We offer the best experience with our rental deals
      </h1>
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <div class="icons">
              <i class="fa-solid fa-sack-dollar myIcon"></i>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Best price guaranteed</h5>
              <p class="card-text">
                Find a lower price? We’ll refund you 100% of the difference.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <div class="icons">
              <i class="fa-solid fa-user-check myIcon"></i>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Experience driver</h5>
              <p class="card-text">
                Don’t have driver? Don’t worry, we have many experienced driver
                for you.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <div class="icons">
              <i class="fa-solid fa-clock myIcon"></i>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">24 hour car delivery</h5>
              <p class="card-text">
                Book your car anytime and we will deliver it directly to you.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <div class="icons">
              <i class="fa-solid fa-comments myIcon"></i>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">24/7 technical support</h5>
              <p class="card-text">
                Have a question? Contact Rentcars support any time when you have
                problem.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
