<div class="works my-5">
  <div class="popular text-center text-uppercase">how it works</div>
  <h1 class="text-center my-5">Rent with following 3 working steps</h1>
  <div class="d-flex flex-wrap justify-content-center align-items-center">
      <div class="card">
        <div class="icon">
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Choose location</h5>
          <p class="card-text">choose your and find your best car</p>
        </div>
      </div>
      <div class="card">
        <div class="icon">
          <i class="fa-solid fa-calendar-days"></i>
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Pick-up date</h5>
          <p class="card-text">Select your pick up date and time to book your car</p>
        </div>
      </div>
      <div class="card">
        <div class="icon">
            <i class="fa-solid fa-ghost"></i>
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Book your car</h5>
          <p class="card-text">Choose your car and we will deliver it directly to you</p>
        </div>
    </div>
  </div>
  <div class="brands">
    <img src="../../../assets/img/brand1.png" alt="">
    <img src="../../../assets/img/brand2.png" alt="">
    <img src="../../../assets/img/brand3.png" alt="">
    <img src="../../../assets/img/brand4.png" alt="">
    <img src="../../../assets/img/brand5.png" alt="">
    <img src="../../../assets/img/brand6.png" alt="">
  </div>
</div>
