<div class="testimonials my-5">
    <div class="container">
        <div class="popular text-uppercase text-center m-auto">testimonials</div>
      <h1 class="my-5 pe-5 text-center">
        what people say about us?
      </h1>
      <owl-carousel-o [options]="customOptions">
       
        <ng-template carouselSlide>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-6">
                    <img src="../../../assets/img/testimonial1.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                        <span class="card-title fs-1 fw-bold">5.0 </span><small>Stars</small>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                      <p class="card-text">“I feel very secure when using caretall's services. Your customer care team is very enthusiastic and the driver is always on time.”</p>
                      <p class="fs-5 fw-bold card-text">Elsayed Mostafa</p>
                      <small class="text-body-secondary">from New York , US</small>
                    </div>
                  </div>
                </div>
              </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-6">
                    <img src="../../../assets/img/testimonial2.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <span class="card-title fs-1 fw-bold">5.0 </span><small>Stars</small>
                      <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                      <p class="card-text">“I feel very secure when using caretall's services. Your customer care team is very enthusiastic and the driver is always on time.”</p>
                      <p class="fs-5 fw-bold card-text">Anna Charles</p>
                      <small class="text-body-secondary">from New York , US</small>
                    </div>
                  </div>
                </div>
              </div>
        </ng-template>  
      </owl-carousel-o>
    </div>
    


    
   


</div>