<div class="d-flex align-items-center py-5">
  <div class="col-md-6">
    <div class="image">
      <img src="../../../assets/img/chooseUs.png" alt="" />
    </div>
  </div>
  <div class="col-md-6">
    <div class="popular text-uppercase">why choose us</div>
    <h1 class="my-5 pe-5">
      We offer the best experience with our rental deals
    </h1>
    <div class="order">


      <table class="table table-responsive table-borderless">
        <tbody>
          <tr>
            <th>Model : </th>
            <td>{{carDetails.model}}</td>
          </tr>
          <tr>
            <th>make : </th>
            <td>{{carDetails.make}}</td>
          </tr>
          <tr>
            <th>horsepower : </th>
            <td>{{carDetails.horsepower}}</td>
          </tr>
          <tr>
            <th>engine : </th>
            <td>{{carDetails.engine}}</td>
          </tr>
          <tr>
            <th>fuelType : </th>
            <td>{{carDetails.fuelType}}</td>
          </tr>
          <tr>
            <th>mileage : </th>
            <td>{{carDetails.mileage}}</td>
          </tr>
          <tr>
            <th>transmission : </th>
            <td>{{carDetails.transmission}}</td>
          </tr>
          <tr>
            <th>color : </th>
            <td>{{carDetails.color}}</td>
          </tr>
          <tr>
            <th>owners : </th>
            <td>{{carDetails.owners}}</td>
          </tr>
          <tr>
            <th>price : </th>
            <td>{{carDetails.price}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>